# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan06-s3-bucket/*_secret_key.txt
06-s3-bucket/*.token
06-s3-bucket/terraform.tfvars
