# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

# в этом файле ничег осекретного, поэтому добавляю в гит без опасений
#terraform.tfvars

# а вот тут секретики, поэтому не показываю
personal.auto.tfvars

tfplan

# тут ключ от квартиры, где деньги лежат
yc-terraform-training-acc-key.json
