%{~ for category in categories ~}
[${category["name"]}]
%{~ for resource in category["resources"] ~}
${resource["name"]}   ansible_host=${resource["network_interface"][0]["nat_ip_address"]}
%{~ endfor ~}
%{~ endfor ~}