name: Test Workflow

on:
  push:
    branches: [ terraform-hotfix-final ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      run: echo "CI/CD is working!"
